@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap');

/*-----Default settings-----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  cursor: pointer;
}

html {
  width: 100%;
  height: 100%;
  background-color: #14213D !important;
  color: whitesmoke;
} 
body {
  min-height: 100%;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

header {
  display: flex;
  justify-content: center;
  height: 10vh;
}

.background-image {
  background: url(../images/site-images/vecteezy-stage-shows.webp) no-repeat center center / cover;
}

.page-title {
  color: whitesmoke;
  letter-spacing: 2px;
  font-size: 220%;
  margin-top: 40px;
  text-decoration: underline orange;
}

/*-----Button styling-----*/
.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 81vh;
}

.buttons {
  border-radius: 15px;
  border: 2px solid transparent; /* Initial transparent border */
  transition: border-color 0.3s ease-in-out;;
  padding: 8px 0;
  margin: 20px;
  width: 15%;
  font-size: 20px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,31,33,1) 73%, rgba(78,79,80,1) 100%, rgba(0,212,255,1) 100%);
  color: whitesmoke;
}

.buttons:hover {
  border-color: #FCA311; /* Change to your preferred color */
}

/*-------MODAL STYLING HOME PAGE---------*/

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal {
  display: none;
  justify-content: center;
  flex-direction: column;
  color: whitesmoke;
  position: absolute;
  overflow: scroll;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 20px;
  width: 50%;
  height: 70%;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,31,33,1) 73%, rgba(78,79,80,1) 100%, rgba(0,212,255,1) 100%);
}

.modal i {
  height: 20px;
  width: 20px;
}

.modal-heading {
  text-align: center;
  text-decoration: underline orange;
  padding-bottom: 15px;
}

.content-container ol {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.close-modal {
  top: 0;
  right: 0;
  position: absolute;
  font-size: 70%;
  margin-right: 10px;
}

.close-modal:hover {
  transform: scale(1.1);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CONTACT MODAL */

.contact-us-form form div {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  align-items: center;
}

.contact-us-form .modal-heading {
  display: flex;
  align-items: center;
}

.contact-us-form label {
  padding-bottom: 6px;
}

.contact-us-form button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 8px;
}
/* END OF HOME PAGE MODALS */

/* Classes used to manipulate in javascript */
.active {
  display: block;
}

.flex {
  display: flex;
}

.hidden {
  display: none !important;
}

.visibility {
  visibility: hidden;
}

.green {
  background: rgb(86, 245, 86);
}
/* End of classes used for javascript */

/* QUIZ SECTION */

.quiz-area {
  height: 100vh;
}

.quiz-title {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 10vh;
  color: whitesmoke;
  position: relative; 
}

.quiz-title h1 {
  margin: 0;
  text-decoration: underline #FCA311;
  position: absolute;
  top: 50%; /* Vertically center the h2 */
  transform: translateY(-50%);
  font-size: 250%;
}

.return-home {
  padding: 5px 10px;
  font-size: 130%;
  margin-right: 1%;
  border-radius: 15px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;;
  color: whitesmoke;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,31,33,1) 73%, rgba(78,79,80,1) 100%, rgba(0,212,255,1) 100%);
  position: absolute;
  transform: translateY(-50%);
  top: 50%; 
  right: 2%; 
}

.return-home:hover {
  border-color: #FCA311; 
}

.quiz-body-container {
  z-index: 9999;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.quiz-body {
  height: 50vh;
  width: 80%;
  display: flex;
  background-color: #232323;
  opacity: 0.9;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0 15px;
}

.quiz-question {
  display: flex;
  justify-content: center;
}

/* QUIZ SCORES */
.game-container {
  display: flex;
}
.game-area {
  width: 75%;
  display: inline-block;
}

.quiz-score {
  width: 25%;
}

.quiz-scores-container {
  height: 100vh;
  border: 2px solid orange;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,31,33,1) 73%, rgba(78,79,80,1) 100%, rgba(0,212,255,1) 100%);
}

.quiz-scores {
  list-style: none;
  padding-top: 15px;
}

.score {
  padding-bottom: 10px;
  letter-spacing: 1.5px;
  width: -moz-fit-content;
  width: fit-content;
}

.money-marker {
  background-color: orange;
}
/* End of quiz scores  */

/* QUIZ SCORES MOBILE */
.quiz-scores-mobile {
  list-style: none;
  padding-top: 5%;
  letter-spacing: 1px;
  font-size: 110%;
}

.score-mobile {
  padding: 4px 0; 
}

/* End of Quiz score mobile */

/* ANSWER BUTTONS THAT ARE IN THE QUIZ BODY */

.answer-button {
  border-radius: 15px;
  width: 330px;
  height: 70px;
  font-size: 90%;
  padding: 10px 0;
  margin: 10px 10px;
  color: whitesmoke;
  border: 2px solid transparent; 
  transition: border-color 0.3s ease-in-out;;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,31,33,1) 73%, rgba(78,79,80,1) 100%, rgba(0,212,255,1) 100%);
}

.answer-button:hover {
  border-color: #FCA311; 
  transform: scale(1.05);
}

.columns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct-answer {
  background-color: orange;
}

.current-score {
  font-weight: bold;
  background-color: orange;
}

/* End of answer buttons */

/* Life lines */
.life-lines-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding-bottom: 15px;
}

.life-lines {
  font-size: 20px;
  padding: 18px;
  border: solid 2px orange;
  border-radius: 10px;
  margin: 0 5px 0 5px;
}

.life-line-button {
  background-color: transparent;
  border: none;
  color: whitesmoke;
  padding: 0!important;
  margin: 0;
}

.life-lines:hover {
  transition: color 0.4s ease-in-out;
  color: #ffcc00;
  transform: scale(1.1);
}

.fifty-fifty {
  padding: 18px 21px;
}

/* End of life lines */

/* life line modal */
.modal-life-lines {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #232323;
  opacity: 0.9;
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.modal-content-life-lines {
  position: relative; 
  color: whitesmoke; 
  width: 30%;
  height: auto; 
  font-size: 140%;
  background-color: #232323;
  padding: 30px;
  border: 1px solid #FCA311;
  text-align: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 3%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.confirm-action {
  display: flex;
  justify-content: center;
}

.confirm-action button {
  width: 35%;
  padding: 6px 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}
/* End of life lines modal */

/* INPUT NAME AREA */

.input-name-section {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 100vh;
  color: whitesmoke;
  font-size: 140%;
}

.input-name-section h2 {
  font-size: 160%;
}

.input-form-position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.input-box {
  padding: 5px;
  border-radius: 15px;
}

.input-container {
  background-color: #232323;
  padding: 15px;
  opacity: 0.9;
}

.input-container * {
  margin: 5px 0;
}

.submit-button-style {
  /* margin-top: 20px; */
  padding: 10px;
  border-radius: 15px;
  border: 2px solid transparent; 
  transition: border-color 0.3s ease-in-out;;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,31,33,1) 73%, rgba(78,79,80,1) 100%, rgba(0,212,255,1) 100%);
  color: whitesmoke;
  width: 35%;
}

.submit-button-style:hover {
  border-color: #FCA311; 
}

.input-form > label {
  padding: 10px;
}

.input-form > input {
  padding: 10px;
}
/* END OF INPUT SECTION */

/* END GAME SECTION */
.get-center {
  display: none;
  align-items: center;
  height: 100vh;
  color: whitesmoke;
  justify-content: center;
}

.end-game-container {
  display: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
  width: 40vw;
  background-color: #232323;
  opacity: 0.9;
  padding: 0 10px;
}

.end-game-container p {
  font-size: 120%;
}

.end-game-container button {
  width: 40%;
}

.end-game-container * {
  margin: 7px 0;
}
/* ENF OF END GAME SECTION */

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 8vh;
  color: whitesmoke;
  font-weight: bold;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent; 
  transition: border-color 0.3s ease-in-out;
}

.social-links a:hover {
  transition: color 0.4s ease-in-out;
  color: #ffcc00;
}

.social-links a {
  padding: 0 15%;
  text-decoration: none;
  font-size: 130%;
  font-weight: bold;
  color: whitesmoke;
}

/* End OF footer */

/* 404 error page styling */
.title-container-404 {
  display: flex;
  justify-content: center;
}

.title-404 {
  padding-top: 15px;
  text-decoration: underline #FCA311;
}

.container-404 {
  height: 82vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-404 > * {
  padding-top: 5px 
}

.content-404 {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #14213D;
}

.button-404  {
  width: 35%;
  border-radius: 15px;
  padding: 10px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,31,33,1) 73%, rgba(78,79,80,1) 100%, rgba(0,212,255,1) 100%);
  text-align: center;
}

.button-404:hover {
  transform: scale(1.1);
}

/* End of 404 */

/* THANK YOU PAGE */
.thank-you-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 82vh;
  width: 100%;
}

.thank-you-message {
  background-color: #232323;
  opacity: 0.9;
  color: whitesmoke;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 35%;
  width: 60%;
  font-size: 100%;
}

.button-thankyou {
  width: auto;
  height: auto;
  padding: 10px;
  border-radius: 15px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,31,33,1) 73%, rgba(78,79,80,1) 100%, rgba(0,212,255,1) 100%);
  color: whitesmoke;
}
/* End of thank you page */

/* 500 page styling */

.text-center {
  text-align: center;
  height: 10vh;
  text-decoration: underline #FCA311;
}

.text-center h1 {
  letter-spacing: 1px;
  padding-top: 20px;
}

.container-500 {
  width: 100%;
  height: 82vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #232323;
  height: 50%;
  width: 50%;
  font-size: 110%;
  opacity: 0.9;
}

.container-content > * {
  padding-bottom: 10px;
}

.button-500 {
  width: auto;
  height: auto;
  padding: 10px 15px;
  border-radius: 15px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,31,33,1) 73%, rgba(78,79,80,1) 100%, rgba(0,212,255,1) 100%);
  color: whitesmoke;
}

/* MEDIA SCREEN UNDER 1200PX */
@media screen and (max-width: 1200px) {
/* ANSWER BUTTONS */
  .answer-button {
    width: 275px;
     border-color: #FCA311 !important;
  }

  /* LIFE LINES */
  .life-lines {
    font-size: 15px;
    padding: 14px;
  }

  .fifty-fifty {
    padding: 14px 17px;
  }

  .thank-you-message {
    height: 50%;
    width: 60%;
  }
}

/* media screen under 1000px */
@media screen and (max-width: 1000px) {
  /* LIfe lines */
  .life-lines-container {
    padding-bottom: 0;
  }

  .life-lines-container i {
    height: 40px;
    width: 40px;
    padding: 5px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
  }

  /* Quiz area */
  .quiz-scores {
    padding-left: 16px;
  }

  .quiz-body {
    height: 70vh;
  }

  .answer-button {
    height: 65px;
    width: 220px;
  }

  /* thank you page */
  .thank-you-message {
    height: 50%;
    width: 80%;
  }
}

/* MEDIA SCREEN MIN WIDTH 800PX */

@media screen and (min-width: 801px) {
  .side-panel {
    display: none !important;
  }
}

/* MEDIA SCREEN UNDER 800PX */

@media screen and (max-width: 800px) {
  /* PAGE TITLE 800PX */
  .page-title {
    font-size: 160%;
  }
  
  /* BUTTONS UNDER 800PX */
  .buttons {
    width: 25%;
  }

/* MODAL UNDER 800PX */
  .modal {
    width: 80%;
    overflow: scroll;
    max-height: 80%;
  }

  .modal-heading {
    font-size: 120%;
  }

  .close-modal {
    margin-top: 5px;
  }

  .mobile-width {
    width: 100% !important;
  }

  /* Quiz area */
  .game-area {
    width: 100%
  }

  .quiz-body {
    width: 80%;
    height: 80vh;
  }

  .quiz-score {
    display: none;
  }

  .columns {
    flex-direction: column;
    font-size: 90%;
  }

  /* MOBILE AND TABLET SIDE BAR FOR SCORES UNDER 800PX */
  /* Main content of the side bar for tablet and mobile screens */
  .main {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 90%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,31,33,1) 73%, rgba(78,79,80,1) 100%, rgba(0,212,255,1) 100%);
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

/* SIDE PANEL TO HIDE SCORES IN FOR TABLET AND MOBILE UNDER 800PX */
  .side-panel {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: whitesmoke;
    font-weight: bold;
    padding: 0;
    z-index: 10000;
    transition: transform 0.5s ease;
  }

  .side-panel .icon-open,
  .side-panel .icon-close {
    font-size: 24px;
  }

  .quiz-score-mobile {
    padding-top: 10px;
  }
/* Open and close animations for the side panel */
  .side-panel-open .icon-open,
  .side-panel-closed .icon-close {
    display: none;
  }

  .side-panel-open .icon-close,
  .side-panel-closed .icon-open {
    display: inline-block;
  }


/* LIFE LINES MOBILE */

  .life-lines-container-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .life-lines-container-mobile i {
    font-size: 20px;
  }

  .life-lines-container-mobile .fa-percent {
    padding: 14px 17px;
  }

    /* 404 */
  .content-404 {
    width: 70%;
    height: 60%;
    font-size: 90%;
  }

/*END GAME SECTION UNDER 800PX  */
  .end-game-container p {
    font-size: 110%;
  }

  .modal-content-life-lines {
  width: 60%;
  }

  .end-game-container {
    height: 60vh;
    width: 100%;
  }

  .thank-you-message {
    height: 60%;
    width: 80%;
  }

  /* To get rid of the hover effect on anything that is touchscreen */
@media (hover: none) {
  .answer-button:hover {
    border-color: transparent; 
    transform: none;
  }
}
}

/* MEDIA SCREEN UNDER 550PX */
@media screen and (max-width: 550px) {
  /* BUTTONS UNDER  550PX*/

  .buttons {
    width: 25%;
    font-size: 14px;
    margin: 6px;
  }

  .answer-button {
    width: 200px;
    margin-top: 5px;
    height: 50px;
    font-size: 85%;
    margin-bottom: 5px;
  }

  /* contact form modal */

  .modal {
    height: 100%;
    width: 100%;
  }

  /* Quiz Area */
  .page-title {
    letter-spacing: 1px;
    font-size: 150%;
    margin-top: 10px;
  }

  .quiz-body {
    font-size: 90%;
    height: 70vh;
  }

  .quiz-body h3 {
    font-size: 130%;
  }
  
  .columns {
    font-size: 85%;
  }

  /* INPUT BOX SECTION BEFORE QUIZ START */

  .input-form-position {
    font-size: 65%;
  }

  .input-name-section h2 {
    font-size: 130%;
  }

/* QUIZ SECTION UNDER 550PX */
  .quiz-title h1 {
    font-size: 150%;
  }

  .quiz-title .return-home {
    font-size: 70%;
  }

/* side bar pop out */
  .main {
    font-size: 70%;
  }

  /* social links under 500px */
  footer {
    font-size: 70%;
  }

  .modal-content-life-lines {
    font-size: 120%;
  }

  /* 404 html */
  .content-404 button {
    width: 45%;
  }

  .content-404 {
    width: 90%;
    font-size: 80%;
  }

  /* 500 html */
  .container-content {
    height: 70%;
    width: 80%;
    font-size: 90%;
  }
}

/* MEDIA SCREEN UNDER 350PX */
@media screen and (max-width: 350px) {
  /* home and input sections */
  .buttons {
    width: 35%;
  }

  .page-title {
    letter-spacing: 1px;
    font-size: 120%;
  }

  .input-form-position {
    font-size: 50%;
  }

  /* QUIZ SECTION UNDER 350PX */
  .quiz-title .return-home {
    font-size: 50%;
  }

  .quiz-title h1 {
  font-size: 130%;
  }

  .quiz-question {
    font-size: 130%;
  }

  .quiz-body {
    font-size: 80%;
  }

  .quiz-body h3 {
    font-size: 110%;
}

  .columns {
    font-size: 80%;
  }

  .answer-button {
    width: 190px;
    height: 50px;
  }

  /*END GAME */

  .end-game-container h2 {
    font-size: 120%;
  }

  .end-game-container p {
    font-size: 95%;
  }

  .thank-you-message {
    height: 70%;
    width: 90%;
  }
}