@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap');
/*-----Default settings-----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

html {
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(13,0,64,1) 60%, rgba(13,0,79,1) 100%, rgba(0,212,255,1) 100%);
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(13,0,64,1) 60%, rgba(13,0,79,1) 100%, rgba(0,212,255,1) 100%);

}

header {
  display: flex;
  justify-content: center;
  height: 20vh;
}

h1 {
  color: whitesmoke;
  letter-spacing: 2px;
  font-size: 220%;
  margin-top: 40px;
}

/*-----Logo styling and positioning-----*/
.logo {
  display: flex;
  justify-content: end;
}

.logo img {
  position: absolute;
  width: 150px;
  height: 150px;
  margin-right: 20px;
  top: 0;
  padding-top: 20px;
}
/*-----Button styling-----*/
.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  height: 80vh;
}

.buttons {
  border-radius: 15px;
  border-color: black;
  padding: 8px 0;
  margin: 20px;
  width: 15%;
  font-size: 20px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,31,33,1) 73%, rgba(78,79,80,1) 100%, rgba(0,212,255,1) 100%);
  color: whitesmoke;
}

/*-------MODAL STYLING---------*/

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}


.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 400px;
  height: 400px;
  background-color: #fff;
}

#high-scores  {
  overflow-y: scroll;
}

.active {
  display: block;
}

.hidden {
  display: none;
}

/*QUIZ SECTION*/
.quiz-area {
  /* background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(13,0,64,1) 60%, rgba(13,0,79,1) 100%, rgba(0,212,255,1) 100%); */
  height: 100vh;
}

.quiz-title {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  color: whitesmoke;
}

.quiz-body-container {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  /* background-color: red; */
}

.quiz-body {
  height: 50vh;
  width: 80%;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0 15px;
}

.quiz-question {
  display: flex;
  justify-content: center;
}

.quiz-scores-container {
  height: 100vh;
  border: 2px solid orange;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-scores {
  list-style: none;
}

.score {
  padding-bottom: 5px;
  letter-spacing: 1.5px;
}

.answer-button {
  border-radius: 15px;
  width: 250px;
  height: 50px;
  padding: 10px 0 10px 0;
  margin: 10px 5px 10px 5px;
  color: whitesmoke;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,31,33,1) 73%, rgba(78,79,80,1) 100%, rgba(0,212,255,1) 100%);
  
}

.columns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct-answer {
  background-color: orange;
}

.current-score {
  font-weight: bold;
  background-color: orange;
}

/* Life lines */
.life-lines-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 20px;
}

.life-lines {
 font-size: 22px;
 padding: 12px;
}

/* END GAME AREA */

.get-center {
    display: none;
    align-items: center;
    height: 100%;
}

.end-game-container {
  display: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .columns {
    flex-direction: column;
  }
}